{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuovo Utente</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Crea</button>
    {{ form_end(form) }}
{% endblock %}
